* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), hsl(180, 100%, 50%));
}

.instruct1 {
    display: none;
    border: 5px solid maroon;
    font-size: 1.9em;
    padding: 0.3em;
}

.instruct2 {
    display: none;
    border: 5px solid maroon;
    font-size: 1.9em;
    padding: 0.3em;
}

.info {
    border: 3px dotted royalblue;
    margin: 0.5em;
    padding: 0.2em;
}

.sbutton {
    border: 5px solid dodgerblue;
    font-size: 1.6em;
    margin: 0.3em;
}

.scoreboard {
    width: 79%;
    margin: 0 auto;
    display: none;
}

.top {
    font-size: 1.4em;
    margin-top: 0.8em;
    width: 80;
    border: 3px outset dodgerblue;
    box-shadow: 0 0 30px darkblue;
    border-radius: 11px;
    height: 2em;
}

#lbs {
    margin-top: 0.31em;
    margin-left: 0.9em;
}

#energy {
    margin-top: 0.31em;
    margin-left: 0.9em;
}

.button {
    display: inline-block;
    font-size: 1.3em;
    margin-top: 1.75em;
    margin-right: 0.44em;
    padding: 3px;
    height: 4em;
    width: 45%;
    border: 3px outset black;
    box-shadow: 0 0 30px darkblue;
    border-radius: 15px;
    cursor: pointer;
}

.innerbutton {
    margin-top: 1em;
    margin-left: 0.6em;
}

#p100 {
    color: darkred;
    background-color: crimson;
}

#p50 {
    color: darkblue;
    background-color: dodgerblue;
}

#m100 {
    color: goldenrod;
    background-color: gold;
}

#m50 {
    color: seagreen;
    background-color: lawngreen;
}