* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), hsl(180, 100%, 50%));
}

.instruct1 {
    display: none;
    font-size: 1.75em;
    text-align: center;
    padding: 0.3em;
    color: blue;
}

.instruct2 {
    display: none;
    font-size: 1.6em;
    text-align: center;
    padding: 0.3em;
    color: blue;
}

.instruct21 {
    display: none;
    font-size: 1.6em;
    text-align: center;
    padding: 0.3em;
}

.instruct3 {
    display: none;
    font-size: 1.6em;
    text-align: center;
    padding: 0.3em;
}

.instruct4 {
    display: none;
    font-size: 1.6em;
    text-align: center;
    padding: 0.3em;
}

.i4 {
    border: 3px solid #FF355E;
    margin: 0.5em;
    padding: 0.2em;
    box-shadow: 0 0 30px #FD5B78;
    border-radius: 11px;
}

.info {
    border: 3px solid royalblue;
    margin: 0.5em;
    padding: 0.2em;
    box-shadow: 0 0 30px darkblue;
    border-radius: 11px;
}

.sbutton {
    border: 5px solid dodgerblue;
    font-size: 1.33em;
    margin: 0.7em;
    box-shadow: 0 0 30px darkblue;
    border-radius: 11px;
    cursor: pointer;
}

.scoreboard {
    width: 79%;
    margin: 0 auto;
    display: none;
}

.top {
    font-size: 1.4em;
    margin-top: 0.8em;
    width: 80;
    border: 3px outset dodgerblue;
    box-shadow: 0 0 30px darkblue;
    border-radius: 11px;
    height: 2em;
}

#lbs {
    margin-top: 0.31em;
    margin-left: 0.9em;
}

#energy {
    margin-top: 0.31em;
    margin-left: 0.9em;
}

.button {
    display: inline-block;
    font-size: 1.3em;
    margin-top: 1.75em;
    padding: 3px;
    height: 4em;
    width: 45%;
    border: 3px outset black;
    box-shadow: 0 0 30px darkblue;
    border-radius: 15px;
    cursor: pointer;
}

.innerbutton {
    margin-top: 1em;
    margin-left: 0.6em;
}

#pug {
    border: 3px outset black;
    box-shadow: 0 0 30px darkblue;
}

#p100 {
    background-color: crimson;
    margin-left: 0.2em;
    margin-right: 0.45em;
}

#p50 {
    background-color: dodgerblue;
}

#m100 {
    background-color: gold;
    margin-left: 0.2em;
    margin-right: 0.45em;
}

#m50 {
    background-color: lawngreen;
}

#reset {
    background-color: red;
    margin-top: 3.3em;
    margin-left: 6.5em;
    width: 17%;
    height: 1.3em;
    border: 3px outset black;
    box-shadow: 0 0 30px darkred;
    border-radius: 15px;
    cursor: pointer;
}

#innerreset {
    margin-left: 0.4em;
    font-size: 0.9em;
}

.stars {
    background-color: white;
    height: 5px;
    width: 5px;
    position: absolute;
    border-radius: 50%;
    animation-iteration-count: infinite;
}

.star-1 {
    margin-top: 1.6%; 
    margin-left: 13%;
    animation-name: twinkle-2;
    animation-duration: 2s;
}

.star-2 {
    margin-top: 3.6%;
    margin-left: 38%;
    animation-name: twinkle-3;
    animation-duration: 5.1s;
}

.star-3 {
    margin-top: 2.9%;
    margin-left: 52%;
    animation-name: twinkle-1;
    animation-duration: 4.4s;
}

.star-4 {
    margin-top: 2.3%; 
    margin-left: 71%;
    animation-name: twinkle-2;
    animation-duration: 1.3s;
}

.star-5 {
    margin-top: 2.4%; 
    margin-left: 24%;
    animation-name: twinkle-3;
    animation-duration: 3.1s;
}

.star-6 {
    margin-top: 4.4%; 
    margin-left: 9%;
    animation-name: twinkle-1;
    animation-duration: 2.4s;
}

.star-7 {
    margin-top: 3.2%; 
    margin-left: 57%;
    animation-name: twinkle-2;
    animation-duration: 2.4s;
}

.star-8 {
    margin-top: 3.7%; 
    margin-left: 73%;
    animation-name: twinkle-3;
    animation-duration: 2.4s;
}

.star-9 {
    margin-top: 1.7%; 
    margin-left: 15%;
    animation-name: twinkle-1;
    animation-duration: 2.4s;
}

.star-10 {
    margin-top: 2.3%; 
    margin-left: 65%;
    animation-name: twinkle-2;
    animation-duration: 2.4s;
}

.star-11 {
    margin-top: 2.7%; 
    margin-left: 25%;
    animation-name: twinkle-3;
    animation-duration: 2.4s;
}

.star-12 {
    margin-top: 3.1%; 
    margin-left: 59%;
    animation-name: twinkle-1;
    animation-duration: 2.4s;
}

@keyframes twinkle-1 {
    20% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

@keyframes twinkle-2 {
    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

@keyframes twinkle-3 {
    80% {
        transform: scale(0.5);
        opacity: 0.9;
    }
}

@media screen and (min-width: 1200px) {
    .instruct1 {
        font-size: 3.75em;
    }
    .instruct2 {
        font-size: 3.6em;
    }
    
    .instruct21 {
        font-size: 3.6em;
    }
    
    .instruct3 {
        font-size: 3.2em;
    }
    
    .instruct4 {
        font-size: 4.2em;
    }
    .top {
        width: 24%;
    }
    .button {
        display: inline-block;
        font-size: 1.3em;
        margin-top: 1.75em;
        padding: 3px;
        height: 9em;
        width: 45%;
        border: 3px outset black;
        box-shadow: 0 0 30px darkblue;
        border-radius: 15px;
        cursor: pointer;
    }
    #reset {
        margin-top: 3.3em;
        margin-left: 27em;
        height: 2.7em;
        border-radius: 25px;
        cursor: pointer;
    }
    #innerreset {
        margin-left: 1.7em;
        font-size: 2.1em;
    }
}

