* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), hsl(180, 100%, 50%));
}

.instruct1 {
    display: none;
    border: 5px solid maroon;
    font-size: 1.9em;
    padding: 0.3em;
}

.instruct2 {
    display: none;
    border: 5px solid maroon;
    font-size: 1.9em;
    padding: 0.3em;
}

.info {
    border: 3px dotted royalblue;
    margin: 0.5em;
    padding: 0.2em;
}

.sbutton {
    border: 5px solid dodgerblue;
    font-size: 1.6em;
    margin: 0.3em;
}

.button {
    display: inline-block;
    font-size: 2em;
    margin: 0.1em;
    padding: 3px;
    width: 33%;
    border: 3px outset black;
    box-shadow: 0 0 30px maroon;
    border-radius: 15px;
    cursor: pointer;
}

.scoreboard {
    width: 85%;
    margin: 0 auto;
    display: none;
}

#p100 {
    color: darkred;
    background-color: crimson;
}

#p50 {
    color: darkblue;
    background-color: dodgerblue;
}

#m100 {
    color: goldenrod;
    background-color: gold;
}

#m50 {
    color: seagreen;
    background-color: lawngreen;
}

.hi {
    font-size: 1.6em;
}

.pic {
    background-position: center;
    background-size: cover;
    width: 80%;
    margin: 0 auto;
    display: none;
}

#sumo {
    display: none;
}
#duck {
    display: none;
}
#door {
    display: none;
}
#slam {
    display: none;
}
#girl {
    display: none;
}
#man {
    display: none;
}
#breast {
    display: none;
}
#penny {
    display: none;
}
#dime {
    display: none;
}
#quarter {
    display: none;
}
#third {
    display: none;
}

/* @media all and (max-width: 756px) {
    .button {
        display: inline-block;
        font-size: 2em;
        margin: 0.1em;
        padding: 3px;
        width: 33%;
        border: 3px outset black;
        box-shadow: 0 0 30px maroon;
        border-radius: 15px;
        cursor: pointer;
    }

    .hi {
        font-size: 1.6em;
    }

    
}  
 */
